*{margin: 0;
padding: 0;
}
body{
    background-color: rgb(109, 240, 196);
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    }
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background-color: #ffe4c4;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: blue;
    color: white;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 30px;
}
.input-column{
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
}
.input-column .input-group{
    flex-basis: 45%;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    background-color: #ffe4c4;
    width: 100%;
    border: none;
    border-bottom: 1px solid #080602;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    background-color: #ffe4c4;
    border: 1px solid #080602 ;
    box-sizing: border-box;
}
label{
    margin-bottom: 5px;
    display: block;
    color: #800505;
}
h1{
    color: purple;
}
.contact-left h3{
color: #630eec;
font-weight: 7000px;
}
button{
    background-color: blue;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 20px;
    color: #fff;
    border-radius: 20px;
    box-shadow:0px 5px 15px 0px rgb(1, 5, 4);
}
tr td:first-child{
    padding-right: 25px;
}
tr td{
    padding-top: 20px;
}
tr td{
    padding-top: 20px;
}